
//tot
#footer{
    padding-top: 7rem;
    margin-top: 7rem;
    color: #4d4d4d;
    background: #f7f7f7;
    .box_footer{
        .thumbnail_footer {
            height: 75px;
            .f-logo{
                width: 150px;
            }
        }
        .title_box{
            .title{
                letter-spacing: .1rem;
                color: #404040;
                text-transform: uppercase;
                margin-bottom: 10px;
                font-size: 1.5rem;
            }
        }
        .content_box{
            .list_icon_link{
                display: flex;
                flex-wrap: wrap;
                li{
                    padding: 0 10px;
                    &:first-child{
                        padding-left: 0;
                    }
                    .fa{
                            color: #a1a1a1;
                            font-size: 20px;
                    }
                }
            }
        }
    }
    ul{
        li{
            a{
                h2.title{
                    letter-spacing: .1rem;
                    color: #404040;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    margin-bottom: 17px;
                }
            }
        }
    }
    .box_right {
        .content_box{
            margin-bottom: 10px;
            .ft_form_dk{
                .box-input{
                    input{
                        height: 40px;
                        text-align: center;
                        width: 100%;
                        margin-bottom: 10px;
                        border-radius: 4px;
                        border: 0;
                        background: #e0e0e0;
                        color: #999;
                    }
                    input.btn-submit{
                        transition: color .3s ease-in-out;
                        color: #fff;
                        position: relative;
                        background: unset;
                    }

                }
            }
            .btn_submit{
                position: relative;
                border-radius: 4px;overflow: hidden;border: 1px solid #31baf5;background: #31baf5;
                 &:before,&:after{content: "";position: absolute;z-index: 1;height: 50%;width: 0;background: #2b9acf;transition: width .3s ease-in-out;}
                &:before {
                    left: auto;right: 0;top: auto;bottom: 0;
                }
                &:after {
                    top: 0;left: 0;
                }
                &:hover{
                    &:before ,&:after{ 
                        width: 100%;
                    }
                }
                input.btn-submit{
                    margin-bottom: 0;
                    z-index: 2;
                }
            }
        }
    }
    .box_left{
        position: relative;
        .box_footer1{
            ul{
                display: flex;
                flex-wrap: wrap;
                li{
                    width: calc(100%/3);
                }
            }
        }
        .box_footer4{
            display: flex;
            position: absolute;
            bottom: 20px;
            ul.footer-address{
                display: flex;
                flex-wrap: wrap;
                li{
                    width: max-content;margin-right: 15px;    font-size: 1.4rem;
                    span{text-transform: uppercase;font-weight: 500;font-size: 1.4rem;    margin-right: 5px;}
                }
            }
        }
    }
    .copy-right{
        padding: 2rem 15px;
         border-top: 1px solid #e6e6e6;
             color: #bfbfbf;

    }
    .content_footer{
        padding-bottom: 3rem;
    }
}
@media (max-width: 992px){
   #footer ul li a h2.title , #footer .box_footer .title_box .title{font-size: 14px;}
 }
@media (max-width: 767px){
    #footer{
        margin-top: 20px;
        padding: 30px 0;
        .f-logo{
            margin-bottom: 15px;
        }
    }
}
